@model Online_Auction.ViewModels.CreateUserViewModel;

@{
    ViewBag.Title = "Создание пользователя";
    Layout = "_Layout";
}

<form asp-action="Create" asp-controller="Admin">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <label asp-for="UserName"></label><br/>
        <input asp-for="UserName" class="form-control"/>
        <span asp-validation-for="UserName"></span>
    </div>
    
        <div>
            <label asp-for="Email"></label><br/>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br/>
            <input asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="PasswordConfirm"></label><br/>
            <input asp-for="PasswordConfirm" class="form-control"/>
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
    <br/>
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-outline-secondary" />
    </div>
</form>
