 

@{
    ViewBag.Title = "Админ панель";
    Layout = "_Layout";
}

<h2>Админ панель</h2>
<a asp-action="IndexUsers" class="btn badge-primary">Пользователи</a>
<br/>
<a style="margin-top: 10px" asp-action="IndexCategories" class="btn badge-primary">Категории</a>
<br/>
<a style="margin-top: 10px" asp-action="IndexLots" class="btn badge-primary">Лоты</a>
