@model Online_Auction.ViewModels.MailViewModel;

@{
    ViewBag.Title = "Отправка сообщения";
    Layout = "_Layout";
}

<h2>title</h2>
<form asp-action="SendMail" asp-controller="Admin">
    <div>
        <label asp-for="Subject"></label><br/>
        <input asp-for="Subject"/>
        <span asp-validation-for="Subject"></span>
    </div>
    <div>
        <label asp-for="Message"></label><br/>
        <input type="text" asp-for="Message"/>
        <span asp-validation-for="Message"></span>
    </div>
    <div>
        <input type="submit" value="Отправить"/>
    </div>
</form>
